{{ $url := .RelPermalink }}
{{ with .Params.targetURL }}{{ $url = . }}{{ end }}
<article class="postShorten postShorten--thumbnailimg-bottom" itemscope itemType="http://schema.org/BlogPosting">
  <div class="postShorten-wrap">
    <div class="postShorten-header">
      <h1 class="postShorten-title" itemprop="headline">
        <a class="link-unstyled" href="{{ $url }}">
          {{ .Title }}
        </a>
      </h1>
      <div class="postShorten-meta post-meta">
        <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
          {{ .Date.Format "2 January 2006" }}
        </time>
      </div>
    </div>
    <div class="postShorten-excerpt" itemprop="articleBody">
      {{ partial "post-first-paragraph.html" . }}
      <p>
        <a href="{{ $url }}" class="postShorten-excerpt_link link">Continue reading</a>
      </p>
    </div>
  </div>
  {{ if not .Params.hideThumbnailOnHomepage }}
    {{ with .Params.thumbnailImage }}
      <a href="{{ $url }}">
        <div class="postShorten-thumbnailimg">
          <img alt="" itemprop="image" src="{{ . }}"/>
        </div>
      </a>
    {{ end }}
  {{ end }}
</article>
